<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Info condicion local</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>
	<body>
		<style>	
			body{
				padding: 50px;
				background: #34495e;
			}
			a, td, th, h2, label{
				color: white;			
			}
		</style>
		<div class="container my-5">
			<h2 class="mb-5">Informacion</h2>
			<div class="row">
				<div class="col-md-6">
					<form action="#" th:action="@{/view/condicionlocal/{id}(id=${condicionlocal.loconId})}" th:object="${condicionlocal}" method="post">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="id" class="col-form-label">ID</label> 
								<input type="text" th:field="*{loconId}" class="form-control" id="id" placeholder="id" readonly> 
								<span th:if="${#fields.hasErrors('loconId')}" th:errors="*{loconId}"></span>
							</div> 
							<div class="form-group col-md-6">
								<label for="loconColumnname" class="col-form-label">nombre de columna</label> 
								<input type="text" th:field="*{loconColumnname}" class="form-control" id="loconColumnname" name="loconColumnname" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('loconColumnname')}" th:errors="*{loconColumnname}" class="text-danger"></span>
							</div>
														<div class="form-group col-md-6">
								<label for="loconKeycolumn" class="col-form-label">llave de columna</label> 
								<input type="text" th:field="*{loconKeycolumn}" class="form-control" id="loconKeycolumn" name="loconKeycolumn" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('loconKeycolumn')}" th:errors="*{loconKeycolumn}" class="text-danger"></span>
							</div>
														<div class="form-group col-md-6">
								<label for="loconOperator" class="col-form-label">operador</label> 
								<input type="text" th:field="*{loconOperator}" class="form-control" id="loconOperator" name="loconOperator" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('loconOperator')}" th:errors="*{loconOperator}" class="text-danger"></span>
							</div>
														<div class="form-group col-md-6">
								<label for="loconQuerystring" class="col-form-label">Query String</label> 
								<input type="text" th:field="*{loconQuerystring}" class="form-control" id="loconQuerystring" name="loconQuerystring" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('loconQuerystring')}" th:errors="*{loconQuerystring}" class="text-danger"></span>
							</div>
														<div class="form-group col-md-6">
								<label for="loconTablename" class="col-form-label">nombre de labla</label> 
								<input type="text" th:field="*{loconTablename}" class="form-control" id="loconTablename" name="loconTablename" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('loconTablename')}" th:errors="*{loconTablename}" class="text-danger"></span>
							</div>
														<div class="form-group col-md-6">
								<label for="loconValuetype" class="col-form-label">tipo valor</label> 
								<input type="text" th:field="*{loconValuetype}" class="form-control" id="loconValuetype" name="loconValuetype" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('loconValuetype')}" th:errors="*{loconValuetype}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="precondition" class="col-form-label">Precondicion</label>
								<input type="text" th:field="*{precondition.preconLogicaloperand}" class="form-control" id="preconLogicaloperand" name="preconLogicaloperand" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('precondition')}" th:errors="precondition" class="text-danger"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="threshold" class="col-form-label">Threshold</label>
								<input type="text" th:field="*{threshold.thresName}" class="form-control" id="thresName" name="thresName" placeholder="Device type name" readonly>
								<span th:if="${#fields.hasErrors('threshold')}" th:errors="threshold" class="text-danger"></span>
							</div>			
						</div>
						<div class="row">
							<div class="col-md-4 mt-3">
								<td>
									<a href="/condicionlocal/" class="btn btn-primary">Regresar</a>
								</td>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>