<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<mea charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Pagina Principal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>
	<body>
		<style>
			body{
				padding: 50px;
				background: #34495e;
			}
			a{
				color: white;			
			}
		</style>
	<div class="row">
		<div class="col-md-6">
			<h2>Bienvenido</h2>
				<div>
					<p><a href="/autotransicion/"><i class="fas fa-user-edit ml-2"></i> Auto-Transacciones</a></p>
				</div>
				<div>
					<p><a href="/condicionlocal/"><i class="fas fa-user-edit ml-2"></i> Condiciones Locales</a></p>
				</div>
				<div>
					<p><a href="/estado/"><i class="fas fa-user-edit ml-2"></i> Estado epidemiologico</a></p>
				</div>
				<div>
					<p><a href="/institucion/"><i class="fas fa-user-edit ml-2"></i> Instituciones</a></p>
				</div>
				<div>
					<p><a href="/precondicion/"><i class="fas fa-user-edit ml-2"></i> Precondiciones</a></p>
				</div>
				<div>
					<p><a href="/threshold/"><i class="fas fa-user-edit ml-2"></i> Thresholds</a></p>
				</div>
					<p><a href="/logout"><i class="fas fa-calendar ml-2"></i> Logout</a></p>
		</div>
	</div>
</body>
</html>