<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Agregar estado</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>
	<body>
		<style>	
			body{
				padding: 50px;
				background: #34495e;
			}
			a, td, th, h2, label{
				color: white;			
			}
			#wrapper {
  				display: flex;
			}
			#left {
  				flex: 0 0 65%;
			}
			#right {
  				flex: 1;
			}			
		</style>
		<div class="container my-2">
			<h2 class="mb-2">Nuevo estado epidemiologico</h2>
			<div class="row">
				<div class="col-md-6">
					<h3 class="mb-2">Informacion requerida</h3>
					<form action="#" th:action="@{/estado/add/}" th:object="${estado}" method="post">
						<div class="container my-2" id="wraper">
							<div class="row" id="left">
								<div class="form-group col-md-6">
									<label for="evestatName" class="col-form-label">Nombre</label> 
									<input type="text" th:field="*{evestatName}" class="form-control" id="evestatName">
									<span th:if="${#fields.hasErrors('evestatName')}" th:errors="*{evestatName}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label for="evestatAllowsmobility" class="col-form-label">¿Movilidad permitida?</label>
									<input type="text" th:field="*{evestatAllowsmobility}" class="form-control" id="evestatAllowsmobility">
									<span th:if="${#fields.hasErrors('evestatAllowsmobility')}" th:errors="*{evestatAllowsmobility}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label for="evestatIsactive" class="col-form-label">¿Esta activa?</label>
									<input type="text" th:field="*{evestatIsactive}" class="form-control" id="evestatIsactive">
									<span th:if="${#fields.hasErrors('evestatIsactive')}" th:errors="*{evestatIsactive}" class="text-danger"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mt-3">
									<input type="submit" name="action" class="btn btn-primary" value="Agregar">
								</div>
								<div class="col-md-3 mt-3">
									<input type="reset" class="btn btn-secondary" value="Limpiar">
								</div>
								<div class="col-md-3 mt-3">
									<input type="submit" name="action" class="btn btn-secondary" value="Cancelar">
								</div>
							</div>
						</div>
					</form>
				</div>	
			</div>
		</div>
	</body>
</html>